@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0c1a28;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-c-s-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.t-d-n {
  text-decoration: none;
}

.flex_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f_shink_0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.f_shink_1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.f_basis_0 {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.f_basis_50 {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
}

.flex_grow_1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ofxh {
  overflow-x: hidden;
}

.ofxs {
  overflow-x: auto;
}

.ofys {
  overflow-y: auto;
}

.ofyh {
  overflow-y: hidden;
}

.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.width_100 {
  width: 100% !important;
}

.height_100 {
  height: 100% !important;
}

.min_h_inhrit {
  min-height: inherit;
}

.c-white {
  color: #f1f1f1;
}

/* 

***************************************************************


************************ ************* local **********************


*****************************************************************


*/
@media (max-width: 920px) {
  .navigator_drawer {
    width: calc(100px + 1px) !important;
  }
  .navigator_drawer > div {
    width: calc(100px + 1px) !important;
  }
}

@media (max-width: 800px) {
  .navigator_drawer {
    width: calc(72px + 1px) !important;
  }
  .navigator_drawer > div {
    width: calc(72px + 1px) !important;
  }
  .user_mesages_name {
    display: none !important;
  }
}

@media (max-width: 576px) {
  #navigator_messenger {
    width: 100% !important;
  }
  #navigator_messenger .navigator_drawer {
    width: 100% !important;
  }
  #navigator_messenger .navigator_drawer > * {
    width: 100% !important;
  }
  ._mobile_navigator__ {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 999 !important;
  }
  .LAG_navgiator {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    z-index: -9999 !important;
  }
  .mobile_active_user_container {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 999 !important;
  }
  .conversation_playground {
    min-height: calc(100vh - 65px);
  }
}

.mobile_messenger_root .conversation_playground {
  min-height: calc(100vh - 65px);
}

._mobile_navigator__ {
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -9999;
}

.css-1hmhyi5 {
  min-height: initial !important;
}

.navigator_drawer > div {
  background: #060714;
  color: white;
  border-right-color: #464969;
  position: initial !important;
}

.navigator_drawer > div svg {
  color: white;
}

.__BTN_NA {
  color: white !important;
  background: #34404c !important;
}

.__BTN_NA:hover {
  background: #3d4b58 !important;
}

.navigator_drawer hr {
  background: #0c1a28;
}

.navigator_drawer .Mui-selected {
  background: #425161 !important;
}

.navigator_drawer a {
  color: white;
}

.__single_user_nav_button:hover {
  background: #425161 !important;
}

.navigator_active_user > div {
  background: #060714;
  position: initial !important;
}

.mobile_active_user_container {
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -9999;
}

.mobile_active_user_container {
  border-top: 1px solid #404254;
  border-bottom: 1px solid #404254;
}

.mobile_active_user_list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mobile_active_user_list::-webkit-scrollbar {
  display: none;
}

.__klsa_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.__klsa_form input {
  border: none;
  outline: none;
  background: #2f3c48;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 1.5rem;
  width: 100%;
}

.input_fild_box {
  width: calc(100% - 40px);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.input_fild_box .write_message_input {
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
  font-size: 1rem;
}

.message__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__ ._SP__Mes_ {
  background: linear-gradient(45deg, #8f4ae9, #540dff);
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
}

.img_profile {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.cc_from input {
  color: white !important;
  background: #1e364e !important;
  padding: 0.5rem 1rem;
}
/*# sourceMappingURL=app.css.map */